<div class="container__big-card">
    <div class="big-card__photo">
        <img
         src="https://imageio.forbes.com/specials-images/imageserve/63600220295903240c876e05/cloudfront-us-east-1-images-arcpublishing/960x0.png?format=png&width=960" 
         alt="" 
         srcset="" height="200px">
    </div>
    <div class="big-card_title">
          <h1><a href="#">Saiu a novo filme do airon man </a></h1>
    </div>
    <div class="big-card__description">
        <p> 
         <a> Lorem ipsum dolor sit amet, 
             consectetur adipiscing elit.
             Donec vitae elementum erat.
             Nullam luctus sem at consectetur posuere.
             Maecenas blandit pulvinar felis in blandit.
             Aliquam metus nisl, posuere vel massa id, commodo pharetra odio. 
             Vivamus eu fermentum nibh.
           </a>  
        </p>
    </div>
</div>
